@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root{
--white : hsl(0, 0%, 100%);
--dark-white : hsl(252, 6%, 83%);
--light-purple : hsl(245, 15%, 58%);
--dark-purple : hsl(245, 19%, 35%);
--dark-purple-argb : hsla(245, 19%, 35%, 0.479);
--dark-blue : hsl(248, 70%, 10%);

--Orange : hsl(7, 88%, 67%);
--Orange-hover : hsl(7, 71%, 60%);

--Gradient: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));

--font: "Inconsolata", serif;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--white);
}

/* Remover position absolute no body */
body {
    background: url(assets/images/background-desktop.png) no-repeat;
    background-size: cover;
    position: relative; 
    z-index: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/*! Jeito que encontrei para fazer o background */
.teste {
    background: url(assets/images/pattern-squiggly-line-top.svg) no-repeat ;
    background-size: cover;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 10vh;
    left: 70vw;
    z-index: 0; 
}
.teste2 {
    background: url(assets/images/pattern-squiggly-line-bottom.svg) no-repeat ;
    background-size: cover;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 30vh;
    left: 0vw;
    z-index: 1;
}


main{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    z-index: 10;
}

main > p{
    color:var(--dark-white);
}

span {
    background-image: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    background-clip: text;
    color: transparent;
}

.container-drop p{
    text-align: left;
    margin-bottom: 15px;
}

/*! Estilização do container para por a foto*/
.square-upload{
    width: 350px;
    height: 150px;
    background-color:var(--dark-purple-argb);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-white);
    border: 2px dashed var(--dark-purple);
    border-radius: 10px;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out, outline 300ms ease-in-out, border 300ms ease-in-out    ; 
    transition: 0.4s;  
}
.square-upload:hover{ 
    background-color: var(--dark-purple);    
    border: 2px dashed var(--dark-white);
    transform: scale(1.05);
    transition: 0.4s;
}
.square-upload:active{
    transform: scale(0.7);
    transition: 0.3s;
}
.square-upload:focus{
    color: #777;
    background: var(--light-purple) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: 0.4s;
}
#input-upload{
    display: none;
}
.picture-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-size: 15px;
    padding: 0px 50px;
}
.picture-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.square-drop{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.imgDrop{
    width: 50px;
    padding: 5px;
    border: 2px solid var(--dark-purple);
    border-radius: 10px;
    background-color: var(--dark-purple-argb);
}

figure{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    margin: 8px 0px;
    color: var(--dark-white);
}

.informacao-drop{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    margin: 8px 0px;
    color: var(--dark-white);
}


/*! Fomulário */
form {
    display: flex;
    flex-direction: column;
    gap: 1em; /* Adiciona espaço entre os elementos */
}
.form-group {
    display: flex;
    flex-direction: column;
}
label{
    text-align: left;
}
input{
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 2.3rem;
    padding: 10px;    
    margin-top: 8px;
    background-color: var(--dark-purple-argb);
    border: 2px solid var(--dark-purple-argb);
    transition: 0.3s;
}
input:active{
    transform: scale(0.7);
    transition: 0.3s;
}
input::placeholder{
    color: var(--dark-white);
}
input[type="button"]{
    background-color: var(--Orange);
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--dark-blue);
}
input[type="button"]:hover{
    background-color: var(--Orange-hover);
}


























/*Second page */

.contPai{
    border: 2px solid red;
    width: 605px;
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(assets/images/pattern-ticket.svg)no-repeat;
    padding: 30px;
}

.contInfo{
    border: 2px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.codigo{
    border: 2px solid blue;
    transform: rotate(90deg);
}

.codigo h1{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark-white);
}



#ticked{
    width: 100%;
    height: 300px;
}

.container-pai-ticked{
    position: relative;   
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 2px solid red;
}

#img-ticked{
    width: 100%;
}

.container-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-empresa{
    display: flex;
    gap: 10px;
}

.info-empresa-txt{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    gap: 15px;
}

.info-empresa-txt h1{
    font-size: 0.9em;
}
.info-empresa-txt p{
    font-size: 0.7em;
    color: var(--dark-white);
}

#img-mark{
    width: 30px;
    height: 30px;
}

.info-usuario{
    display: flex;
    align-items: center;
    gap: 10px;
}

#img-avatar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.info-usuario-txt{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.info-usuario-txt h1{
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: 400;
}

.info-usuario-txt p{
    margin: 0px;
    font-size: 0.7em;
    color: var(--dark-white);
}









#erro, #erro1, #erro2{
    display: none;
    color: red;
}

#erro i, #erro1 i, #erro2 i{
    margin-right: 10px;
}


@media (min-width: 320px) and (max-width: 480px) {
    body {
        background: url(assets/images/background-mobile.png) no-repeat;
    }

    .teste {
        background: url(assets/images/pattern-lines.svg) no-repeat ;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2vh;
        left: 0vw;
        z-index: 0; 
    }
    .teste2 {
        background: url(assets/images/pattern-squiggly-line-bottom.svg) no-repeat ;
        background-size: cover;
        width: 60%;
        height: 40%;
        top: 60vh;
        left: 0vw;
    }

    main{
        width: 90%;
        font-size: 1.1rem;
    }

    main h1{
        font-size: 1.6em;
        margin-bottom: 20px;
    }

    main p{
        font-size: 1.2rem;
    }

    .square-upload{
        width: 100%;
    }

    .picture-image{
        font-size: 13.5px;
    }

    .contPai{
        border: 2px solid red;
        width: 350px;  /* Novo tamanho */
        height: 190px; /* Novo tamanho */
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: url(assets/images/pattern-ticket.svg) no-repeat;
        background-size: contain; /* Ajusta a imagem para caber no contêiner */
        background-position: center; /* Centraliza a imagem */
        padding: 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        background: url(assets/images/background-tablet.png) no-repeat;
    }

    

    .teste {
        background: url(assets/images/pattern-lines.svg) no-repeat ;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0vh;
        left: 0vw;
        z-index: 0; 
    }
    .teste2 {
        background: url(assets/images/pattern-squiggly-line-bottom.svg) no-repeat ;
        background-size: cover;
        width: 60%;
        height: 40%;
        top: 70vh;
        left: 0vw;
    }

    main{
        width: 85%;
    }

    main h1{
        font-size: 2em;
        margin-bottom: 20px;
    }

    main p{
        font-size: 1.2rem;
    }

    .contImage{
        width: 100%;
       
    }
    .square-upload{
        width: 70%;
        align-items: center;
        margin: auto;
    }

    .picture-image{
        font-size: 13.5px;
    }

    #p{
        text-align: center;
        margin-right: 50%;
        margin-bottom: 15px;
    }

    .informacao-drop{
        justify-content: center;
        width: 100%;
    }

    .formulario{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    form {
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .form-group {
        width: 80%;
        justify-content: center;
    }
}